.spyproject/
.idea/
QConfig.py
.ipynb_checkpoints/
__pycache__/
/000_not_public/
/001_data_circuits_collections_private/
/002_deprecatied/
/saved_data/mitigation_on_marginals/ASPEN-8/number_of_qubits_23/2020_12_31/DDOT/01_test_results_marginals_pairs.pkl
/saved_data/mitigation_on_marginals/ASPEN-8/number_of_qubits_23/2020_12_31/DDOT/02_test_results_noise_matrices_pairs.pkl
/saved_data/mitigation_on_marginals/ASPEN-8/number_of_qubits_23/2020_12_31/DDOT/03_test_results_noise_models.pkl
/saved_data/mitigation_on_marginals/ASPEN-8/number_of_qubits_23/2020_12_31/DDOT/04_test_results_correction_data.pkl
/saved_data/mitigation_on_marginals/ASPEN-8/number_of_qubits_23/2020_12_31/DDOT/05_test_results_corrected_data_2SAT.pkl
/saved_data/mitigation_on_marginals/ibmq_16_melbourne/number_of_qubits_15/2020_10_12/DDOT/01_test_results_marginals_pairs.pkl
/saved_data/mitigation_on_marginals/ibmq_16_melbourne/number_of_qubits_15/2020_10_12/DDOT/02_test_results_noise_matrices_pairs.pkl
/saved_data/mitigation_on_marginals/ibmq_16_melbourne/number_of_qubits_15/2020_10_12/DDOT/03_test_results_noise_models.pkl
/saved_data/mitigation_on_marginals/ibmq_16_melbourne/number_of_qubits_15/2020_10_12/DDOT/04_test_results_correction_data.pkl
/saved_data/mitigation_on_marginals/ibmq_16_melbourne/number_of_qubits_15/2020_10_12/DDOT/05_test_results_corrected_data_COMPLETE.pkl
/saved_data/mitigation_on_marginals/ibmq_16_melbourne/number_of_qubits_15/2020_10_12/DDOT/05_test_results_corrected_data_2SAT.pkl
